.help
  %h2 INVTは、みんなのスケジュールを直観的に合わせるためのサービスです。

  %p どうせならたくさんの人と遊びたい!だけど、何人ものスケジュールを合わせるというのは、とても面倒な作業です。できれば避けて通りたい道です。人間だもの。

  %p INVT（インバイト）は、そんな面倒なスケジュール合わせを、自動でやってしまえるサービスです。

  %p 新しいイベントのつくり方にむずかしいところはありません。必要なものはFacebook IDだけ。
.help-link
  = link_to "さっそくスケジュールを合わせる","/new"
  or
  = link_to "デモページを見る","/show?e=n5d"