<div class="util">

  <h2>第1条</h2>
  <ol>
    <li>本規約は、「INVT」（以下「本サービス」といいます。）の利用者の皆様に対して適用されます。</li>
    <li>本規約の内容は、必要に応じて変更することがございますが、その都度利用者の皆様へのご連絡は致しかねますので、本サービスをご利用の際には本サービス上に掲載されている最新の利用規約をご確認下さい。本サービスは、その裁量により本規約を随時変更することができるものとし、当該変更内容を本サービス上で表示した時点から当該変更内容は有効となります。</li>
    <li>利用者の皆様が、本サービスを利用（本サービス上に掲載されたコメント、情報等の閲覧、使用、ダウンロード等の行為を含みます。）したことをもって本規約に同意したものとみなします。本規約に対する不同意の意思表示は、本サービスを利用しないことのみをもって認められるものとします。</li>

  </ol>
  <h2>第2条</h2>
  <p>本サービスにおける会員向けサービスについては、Facebook IDによるログインを行った利用者の方のみが利用できます。会員向けサービスの利用を希望される利用者の皆様は、Facebook IDの取得を行ってから、ご利用してください。</p>

  <h2>第3条</h2>
  <ol>
    <li>本サービスにおいて投稿されたイベント情報、アンケート内容、コメント等（以下総称して「コメント」と言います。）についての編集権限は、本サービスに属するものとし、本サービスは、会員の許諾なく自由に、以下の処理を無償でする事ができるものとします。
      <dl>
        <dt>①	内容について審査すること。</dt>

        <dt>②	本サービスに掲載すること、または掲載しないこと。（独自の基準に基づき掲載しない場合もあります。）</dt>

        <dt>③	修正して、本サービスに掲載すること。</dt>

        <dt>④	本サービスに掲載したコメント等を、掲載後に修正、削除すること。</dt>


        <dd>本サービス以外の本サービスの指定するメディアにおいて、前各号の処理をすること。この場合において、「本サービス」とあるのは「本サービスの指定するメディア」と読みかえるものとします。</dd>

      </dl>
    </li>
    <li>本サービス上で会員が作成したコメント等の著作権等の権利（著作権法第２７条、第２８条の権利を含みます）は会員に帰属するものとします。ただし、会員は、本サービスが掲載されたコメント等を会員の承諾を得ることなく、およびこれに付帯関連する本サービスメディアにおいて何らの制限なく自由に使用することにつき許諾するものとします。また、会員、かかる利用に対して、本サービスによるコメント等の改変や公表の有無等について、著作者人格権を行使しないものとします。</li>
    <li>会員が、本サービスにおいて投稿するコメント等は、原則として自己が著作権その他一切の権利を有するコメント等に限るものとします。会員が、自己以外の第三者の権利が含まれるコメント等（例：第三者が被写体となった写真、第三者の作成した著作物または公共の建造物等が写った写真、第三者の発言したコメント等）（以下「第三者コメント等」といいます。）の投稿・掲載を希望される場合には、本規約の内容および当該投稿・掲載について、第三者コメント等の著作権者を含む一切の権利者（被写体としてプライバシー権を有する方、肖像権を有する方、コメントの著作権を有する方を含みますがこれらに限りません。）の方の承諾を必ず得るものとし、当該承諾を得た第三者コメント等のみを投稿・掲載するものとします。</li>
    <li>会員が前項の規定に違反し、本サービスまたは他の会員の皆様と、第三者コメント等の権利者の方との間にトラブルが発生した場合、会員はご自身の責任において当該トラブルの解決を図るものとし、本サービスに一切の迷惑をかけないものとします。</li>
    <li>会員は、コメント等の内容に責任を負い、また以下に掲げる行為を行わないものとします。なお、本項の禁止事項は、会員が第2条第1項第5号に定めるメッセージ配信機能を利用する場合のメッセージの内容にも適用されるものとします。
      <dl>

        <dt>①	自己または他人の名称、住所、電話番号、電子メールアドレス等、意図的に虚偽の情報を登録する行為</dt>
        <dt>②	他人の名称・メールアドレス・住所・電話番号等個人を特定しうる情報を書き込む行為（投稿者名や投稿内容において使用される場合を含むが、これらに限られない）</dt>
        <dt>③	コメントを通じて他人の個人情報を取得する行為</dt>
        <dt>④	他人になりすまして情報を送信または書き込む行為</dt>
        <dt>⑤	他人のプライバシーにかかる事項を書き込む行為</dt>
        <dt>⑥	本サービスを商業目的で利用する行為</dt>

        <dt>⑦	本サービスの運営を妨げる行為、無断で改変する行為、または本サービスの信頼を毀損する行為またはそのおそれのある内容を書き込む行為</dt>
        <dt>⑧	本サービスの機能や情報の正確性に関するお問合せやクレームを投稿すること</dt>
        <dt>⑨	有害なコンピュータプログラム等を送信または書き込む行為、スパムメール、チェーンレター、ジャンクメール等を送信する行為</dt>
        <dt>⑩	本サービスの承認した以外の方法により本サービスを利用する行為</dt>
        <dt>⑪	本サービスまたは第三者に対する迷惑行為</dt>
        <dt>⑫	本サービスまたは第三者の著作権、商標権その他の知的財産権、プライバシー権、肖像権、名誉等、第三者の権利を侵害するまたはそのおそれのある内容を書き込む行為、およびアップロードする行為</dt>

        <dt>⑬	本サービスまたは特定の企業、法人、団体、地域、個人を誹謗、中傷し、名誉、プライバシーを傷つける、または差別発言するなどの不適切な表現が含まれているもの（伏字での発言も含める）またはそのおそれのある行為</dt>
        <dt>⑭	広告・宣伝・営業活動、公職選挙運動、特定の思想・宗教への勧誘、またはそれらに類する内容を書き込む行為</dt>
        <dt>⑮	ポルノ小説・写真、性的交渉の勧誘、その他猥褻な内容を書き込む行為</dt>
        <dt>⑯	児童や青少年に対し著しく粗暴性、残虐性又は犯罪を誘発助長し、その健全な育成を阻害する内容を書き込む行為</dt>
        <dt>⑰	差別的表現、ナンセンス、グロテスクな内容を書き込む行為</dt>
        <dt>⑱	同一内容のコメント等を意図的に多数投稿すること</dt>

        <dt>⑲	物品・割引券・紹介カードなどの売買または譲渡についての情報</dt>
        <dt>⑳	法令、公序良俗に反するまたはそのおそれのある内容を書き込む行為</dt>
        <dt>㉑	その他、本サービスに不適切な内容、表現であると本サービスが判断したもの</dt>
      </dl>
    </li>
    <li>本サービスは、利用者の皆様が前項に違反した場合、その他本サービスが本サービスの運営上不適当と判断する行為を行った場合には、当該利用者に対して、本サービスの利用停止、会員資格の剥奪、損害賠償請求等必要な措置（法的措置を含みます。）を取ることができるものとします。</li>
    <li>本条第５項に違反する利用者の行為によって、本サービスまたは第三者が損害を被った場合、当該利用者は、自己の責任と費用をもって、その損害を賠償しなければなりません。</li>

  </ol>

  <h2>第4条</h2>
    <ol>
      <li>本サービスは次の各号に該当する場合、利用者の皆様への事前の通知や承諾なしに、本サービスの一部または全部の提供を予告なく、変更、停止または終了する場合があります。
      <dl>
        <dt>①	本サービスの保守または仕様の変更を行う場合</dt>
        <dt>②	天災、事変その他非常事態が発生し、または発生するおそれがあり、本サービスの運営が困難または不可能となった場合</dt>
        <dt>③	本サービスが、本サービスの運営上およびその他の理由で本サービスの一時的な運用停止が必要と判断した場合</dt>

      </dl>
    </li>
    <li>本サービスは、本サービスのサービスや情報、URLを、予告なしに変更または廃止する場合があります。</li>
    <li>前２項の規定により本サービスの運用が一時的に停止されまたは本サービスのサービスや情報、URLが変更もしくは廃止され、これに起因して利用者の皆様に損害が発生した場合でも、本サービスは一切責任を負担致しません。</li>
  </ol>

  <h2>第5条</h2>
  <ol>
    <li>本サービスは、信頼できるサービスや情報を利用者の皆様へお届けすべく努力をしていますが、次の各号について、一切保証致しません。本サービスのご利用に際しては、利用者の皆様ご自身が、本サービスおよび本サービスにおいて提供される情報やサービスの有用性等を判断し、ご自身の責任でご利用下さい。
      <dl>

        <dt>①	投稿コメントの内容を含む、本サービス上で提供される全ての情報（本サービスとして、または本サービスに関連して送信される電子メール等により提供される情報等、および、本サービス上に表示される、第三者が管理・運営するリンクサイト内に含まれる一切の情報等を含みます。以下、同様とします。）に関する、有用性、適合性、完全性、正確性、安全性、合法性、最新性等。</dt>
        <dt>②	利用者の皆様が本サービス上で提供される情報を利用して第三者と交渉、契約の締結等を行なう場合において、当該行為に関する一切。</dt>
        <dt>③	本サービスが利用者の皆様の希望を満たすこと。</dt>
        <dt>④	本サービスの提供に不具合、エラーや障害が生じないこと。</dt>
        <dt>⑤	本サービスを通じて入手できる商品、役務、情報等などが利用者の皆様の期待を満たすものであること。</dt>
        <dt>⑥	本サービス中に含まれる利用者等の発言・発信行為が第三者の権利を侵害しないこと。</dt>

        <dt>⑦	本サービスに関連して送信される電子メール、ウェブコメント等に、コンピュータウィルス等の有害なものが含まれていないこと。</dt>
      </dl>
    </li>
    <li>本サービスは、本サービスについて、いつでも本サービスの判断のみにより、その内容の修正、削除、追加等、また、サービスの改廃等を行うことができるものとし、本サービスの存続または同一性が維持されることを一切保証致しません。</li>
    <li>本サービスは、利用者の皆様による本サービスのご利用（これらに伴う本サービスによる情報提供行為等を含みます。）または利用不能により生じる一切の損害（精神的苦痛、またはその他の金銭的損失を含む一切の不利益）につき責任を負わないものとします。但し、当該損害の発生について、本サービスに故意または重過失が存在する場合はこの限りでないものとします。</li>
    <li>本サービスは、次の各号の場合において、一切その責任を負わないものとします。
      <dl>
        <dt>①	本サービスを介して行う、第三者が提供するコメントのダウンロードおよび第三者が管理・運営するリンクサイトへのアクセス等の行為により、利用者の皆様に生じた損害。</dt>

        <dt>②	本サービスが相当の安全策を講じたにもかかわらず、本サービスの無断改変、本サービスに関するデータへの不正アクセス、コンピュータウィルスの混入等の不正行為が行われ、これに起因して利用者の皆様に生じた損害。</dt>
      </dl>
    </li>
    <li>前各項において、本サービスが責任を負う場合であっても、本サービスの責任は直接かつ通常の損害に限られるものとします。</li>
  </ol>

  <h2>第6条</h2>
  <p>一般的な文字表示（日本語表示）やメール等の諸設定を適切に設定してご利用下さい。設定が一般的でない場合には、動作結果やそれがもたらす諸影響に関して、本サービスは一切責任を追わないものとします。</p>

  <h2>第7条</h2>
  <p>本サービスは、本サービスをご利用になる利用者の皆様の利便性を向上させる目的で統計データを作成するために、アクセスログ（以下「利用者情報」といいます。）を取得することがあります。但し、法的に要求された場合を除き、第三者に利用者情報を公開することはありません。</p>

  <h2>第8条</h2>
  <p>利用者の皆様は、本サービスに関する利用者としての地位および当該地位に基づく権利義務を、本サービスが予め承諾した場合を除き、第三者に譲渡しまたは担保に供してはならないものとします。</p>

  <h2>第9条</h2>
  <p>本規約の準拠法は日本法とし、本規約および本サービスに関する一切の紛争は、東京地方裁判所を第一審専属合意管轄裁判所とします。</p>
</div>
