- wish_part_num ||= 2
- add_part_num = wish_part_num.to_i + 1
= hidden_field_tag "part_num", add_part_num
%div{:id => "add-wish-button#{add_part_num}"}
  .date-plan
    .plus-circle
      = link_to image_tag("/images/green-plus.png"),{:controller => "events",:action => "add_wish_part_ajax",:wish_part_num => add_part_num},:remote => true

