.page-title
  %h1 > 新規イベントを作成するページです
%ul.breadcrumb
  %li.current
    %a 1.タイトル/日程を決める
  %li
    %a 2.参加者を選ぶ
  %li
    %a 3.参加者へ知らせる
  %li
    %a 4.完了!! あとは待つだけ!!
- form_tag(url_for(:controller => "events", :action => "get_event_info")) do
  = render "events/detail_edit"
  .hr
  %h2 日時の詳細を入れる
  = render "events/add_schedule_part"
  .right
    %a.button.button-blue{:onclick => "formSubmit()"}
      %span 次のステップへ
